<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="userName" value="bgservices@ayahealthcare.com"/>
		<add key="password" value="pass1"/>
		
		
		<add key="baseUrl" value="https://api.ayahealthcare.com/"/>
		<add key="connectionString" value="Server=AyaProdrpt.ayahealthcare.com;Database=nurses;Integrated Security=True;"/>
		
		<!--<add key="baseUrl" value="https://api-dev.ayahealthcare.com/"/>
		<add key="connectionString" value="Server=Ayadevdb.ayahealthcare.com;Database=nurses;Integrated Security=True;"/>-->
	</appSettings>
</configuration>